@use '../../global/variables.scss';

.header {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    flex-grow: 0;
    flex-wrap: wrap;
    padding: 2rem 2rem;
    background-color: variables.$color-background;
}

.header-navlink {
    text-align: center;
    border-radius: 2rem;
    font-size: 2rem;
    color: variables.$color-primary;
    margin: 0 2rem;
}